#section-intor {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100.6%;
  max-width: 640px;
  height: 101%;
  z-index: 9;
  background: rgba(#fff, 0.92);
  left: 50%;
  transform: translateX(-50%);
  overflow-y: auto;
  border: 1px solid #ccc;
  border-top: none;
  @include screen(640px) {
    border: none;
  }
  .header {
    position: relative;
    width: 94%;
    margin: 0 auto pxTo100(40) auto;
    padding: pxTo100(15) 0;
  }

  .in-logobox {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .in-logo {
    opacity: 0;
    max-width: 85px;
    width: 15%;
    margin-right: 22px;
  }

  .in-title {
    width: 49%;
    max-width: 286px;
    opacity: 0.1;
  }

  .in-menu {
    position: absolute;
    top: 15px;
    right: 3.2%;
    width: 11%;
    max-width: 65px;
    opacity: 0.1;
  }

  .bg {
    width: 94%;
    margin: auto;
  }

  .container {
    width: 94%;
    margin: auto;
  }


  .in-im {
    display: block;
    margin: 0 auto 3.7vh auto;
    width: calc(466/960 * 100vh);
    max-width: 466px;

    &.title-2 {
      display: none;

    }
  }

  &.open2 {
    .in-im.title-1 {
      display: none;


    }

    .in-im.title-2 {
      display: block;


    }
  }

  .in-step {
    font-size: 24px;
    font-size: 2.2vh;
    line-height: 1.4;
    margin-bottom: 3vh;

    span {
      display: block;
    }

    b {
      color: $red;
    }
  }

  .gift-time {
    margin-bottom: 4.4vh;

    h3 {
      font-size: 2.2vh;
      color: $red;
      margin-bottom: 1vh;
    }

    img {
      width: calc(585/960*100vh);
      max-width: 585px;
    }
  }

  @include screen(1440px) {

    .in-step,
    .gift-time h3 {
      font-size: 2vh;
    }



    .gift-time {
      margin-bottom: 2vh;
    }



  }

  @include screen(640px) {

      .in-im {
        width: 75% !important;
        margin: 0 auto 3.7vh auto;
      }

      .gift-time h3,
      .in-step {
        // font-size: 3.6vw;
      }

      // .gift-time {
      //   margin-bottom: 3%;
      // }

      .gift-time img {
        width: 92%;
      }
  
  }
}