#section-resule {
  // background: url(../img/guide/03-1.png) top left no-repeat;
  // background-size: cover;
  padding-top: 19.7%;
  overflow: auto;
  .slogan {
    font-size: 20px;
    font-size: 2vh;
    font-weight: bold;
    line-height: 1.8;
    letter-spacing: 16px;
    letter-spacing: 1.6vh;
    text-align: left;
    color: #515151;
    padding: 0% 0 0 9%;
    padding: 0% 0 0 3vh;
    margin-bottom: 3%;
    margin-bottom: 1vh;
  }

  .slogan-img {
    display: block;
    width: 100%;
    max-width: 308px;
    width: calc(308 / 960 * 100vh);
    margin-bottom: 12%;
  }

  .content {
    width: 100%;
    display: flex;
  }

  .left-content {
    width: 50%;

    ul {
      width: 100%;
      // font-size: 18px;
      font-size: 1.85vh;
      line-height: 1.56;
      color: #5c5c5c;
      padding-left: 8%;
      letter-spacing: 0;
    }

    li {
      display: flex;
      margin-bottom: 3%;
      margin-bottom: 0.9vh;
      &::before {
        display: block;
        content: '';
        width: 9px;
        height: 8px;
        background: $red;
        border-radius: 99em;
        margin-right: 12px;
        position: relative;
        top: 10px;
      }

      span {
        width: 99%;
      }
    }
  }

  .right-content {
    position: relative;
    width: 50%;

    .edn-p1,
    .edn-p2 {
      position: absolute;
    }

    .edn-p1 {
      left: -21%;
      top: -1%;
      z-index: 1;
      max-width: 303px;
      width: 95%;
    }

    .edn-p2 {
      right: -1%;
      top: 13%;
      max-width: 196px;
      width: 62%;
      
      
    }
  }

  .brand {
    margin: 6% 0 4.2% 0;
    padding: 7% 0% 9% 4%;
    // font-size: 18px;
    font-size: 1.9vh;
    line-height: 1.44;

    h3 {
      font-weight: bold;
      letter-spacing: 3.6px;
      margin-bottom: 3%;
    }

    h4,
    p {
      letter-spacing: 0;
    }

    p {
      line-height: 1.39;
      color: #5c5c5c;
    }

    li {
      display: flex;
      list-style: none;

      &:not(:last-child) {
        margin-bottom: 4%;
      }

      img {
        max-width: 70px;
        width: 12%;
        margin-right: 3%;
      }
    }
  }

  .share-text {
    font-size: 22.5px;
    font-size: 2.23vh;
    font-weight: bold;
    line-height: 1.38;
    letter-spacing: 4.5px;
    text-align: center;
    margin-bottom: 1.5%;
  }

  .button-share {
    width: 100%;
    max-width: 640px;
    display: flex;
    position: fixed;
    bottom: 0;
    z-index: 2;
    a {
      text-align: center;
      display: block;
      width: $width / 3;
      line-height: 8.5vh;
      display: flex;
      justify-content: center;
      justify-items: center;
      font-size: 2.5vh;
      letter-spacing: 0.5vh;
      color: #ffffff;
      text-decoration: none;

      &:nth-child(1),
      &:nth-child(2) {
        border-right: 1px solid #fff;
      }

      &:nth-child(1),
      &:nth-child(3) {
        background-color: #f06cae;
      }

      &:nth-child(2) {
        background-color: #d72f83;
        font-size: 3.1vh;
        font-weight: 500;
        &::after{
          content:'>';
          display: inline-block;
          position: relative;
          left: 3%;
          animation: arrw2 .7s infinite;
        }
        @include screen(1440px) {
          font-size: 2.6vh;
        }
        @include screen(640px) {
          font-size: 4vw;
        }
      }
    }
  }

  .resule-1,
  .resule-2,
  .resule-3,
  .resule-4 {
    position: absolute;
    width: 100%;
    opacity: 0;
    visibility: hidden;
  }

  // 1
  .resule-1 {
    .brand {
      background-color: #e2c8f2;

      h3,
      h4 {
        color: #68308b;
      }
    }

    .share-text {
      color: #68308b;
    }

    .clothes {
      position: absolute;
      max-width: 102px;
      
    width: 70% !important;
      top: 0.6%;
      left: 18%;
    }

    .edn-p1 {
      left: 0;
      top: -1%;
      max-width: 262px;
      width: 82%;
      width: calc(252 / 960 * 100vh);
      @include screen(640px) {
        width: 74%;
      }
    }

    .edn-box {
      position: absolute;
      right: 0;
      top: 13%;
      max-width: 137px;
      width: 43%;

      @include screen(640px) {
        // width: 38%;
      }
    }

    .edn-p2 {
      position: relative;
      width: auto;

      img {
        width: 100%;
      }
    }

    .brand {
      padding: 3% 0% 4% 4%;
      margin: 6% 0 2.2% 0;

      @include screen(640px) {
        font-size: 2.6vw;
        margin: 4% 0 2.2% 0;

      }
    }

    .slogan-img {
      margin-bottom: 8%;
    }

    &.active {
      .clothes {
        animation: clothes 2s infinite;
      }
    }
  }

  // 2
  .resule-2 {
    .brand {
      background-color: #dbeaf2;
      margin: 6% 0 2.2% 0;

      @include screen(640px) {
        padding: 4% 0% 8% 4%;

      }

      h3,
      h4,
      .share-text {
        color: #00659b;
      }

    }

    .share-text {
      color: #00659b;
    }
    &.active{
       .right-content .edn-p2{
        animation: plant .4s 0.8s forwards cubic-bezier(.89,-0.93,.2,1.58);

      }
    }
  }

  // 3
  .resule-3 {
    .right-content {
      .edn-p1 {
        left: 5%;
        top: -1%;
        z-index: 1;
        max-width: 304px;
        width: 95%;
      }

      .edn-box {
        position: absolute;
        right: 0;
        top: 22%;
        max-width: 294px;
        width: 92%;

        @include screen(640px) {
          // width: 38%;
        }
      }

      .edn-p2-img {
        position: absolute;
        top: 1%;
        left: 10.6%;
        width: 32.998%;
        height: 0;
        padding-bottom: 18.4%;
        z-index: 1;
        mix-blend-mode: overlay;
      }

      .edn-p2 {
        position: relative;
        width: auto;
        max-width: initial;

        img {
          width: 100%;
        }
      }
    }

    .slogan-img {
      margin-bottom: 6%;
    }

    .brand {
      background-color: #f4edbf;
      margin: 0% 0 4.2% 0;

      @include screen(640px) {
        padding: 4% 0% 7% 4%;
        margin: 1% 0 4.2% 0;

      }

      h3,
      h4,
      .share-text {
        color: #d17f0a;
      }
    }

    .share-text {
      color: #d17f0a;
    }
    &.active{
      .edn-p2-img {
        animation: color_change 3s infinite alternate;
      }
    }
  }

  // 4
  .resule-4 {
    .right-content {
      .edn-p1 {
        left: 10%;
        top: -1%;
        z-index: 1;
        max-width: 187px;
        width: 59%;

      }

      .edn-p2 {
        right: 0;
        top: 29%;
        max-width: 210px;
        width: 66%;

      }
    }

    .slogan-img {
      margin-bottom: 6%;
    }

    .brand {
      background-color: #e4e9d3;
      margin: 0% 0 2.2% 0;

      @include screen(640px) {
        padding: 3% 0% 5% 4%;
        margin: 1% 0 4.2% 0;

      }

      h3,
      h4,
      .share-text {
        color: #4b5911;
      }
    }

    .share-text {
      color: #4b5911;
    }
  }

  @include screen(1440px) {
   .button-share a{
      line-height: 50px;
      // font-size: 1vw;
   }
   .share-text{
     font-size: 2vh;
   }
  .slogan{
    // font-size: 1vw;
    letter-spacing: 9px;
  }
  .left-content{
    width: 57%;
  }
  .left-content ul{
    font-size: 1.5vh;
    line-height: 1.56;
  }
  .left-content li:before{
    width: 4px;
    height: 4px;
    top: 7px;
  }
  .right-content {
    position: relative;
    width: 48%;
  }
  .resule-1 .brand{
    // margin: 9% 0 2.2% 0;
  }
  .brand{
    // font-size: 0.9vw;
  }
  .brand li{
    align-items: center;
  }
  .brand li img{
    max-width: 70px;
    width: 9%;
  }
  .button-share a{
    font-size: 2vh;
  }
  .share-text{
    // font-size: 1vw;
  }
}
@include screen(1366px) {
  .button-share a{
     line-height: 50px;
    //  font-size: 1vw;
  }
 .slogan{
  //  font-size: 1vw;
   letter-spacing: 9px;
 }
 .left-content{
   width: 52%;
 }
 .left-content ul{
   line-height: 1.56;
 }

 .right-content {
   position: relative;
   width: 48%;
 }

}
  @include screen(640px) {
    .resule-3 .right-content{
      top: 3vh;
    }
    .left-content{
      width: 53%;
      ul{
        font-size: 3vw;
      }
    }
    .left-content li br{
      display: none;
    }
    .slogan {
      font-size: 3.5vw;
      letter-spacing: 6px;
    }

    .resule-3 .left-content {
      width: 62%;
    }



    .left-content li:before {
      width: 5px;
      height: 4px;
      top: 6px;
    }

    .brand {
      font-size: 3.2vw;
      padding: 6% 0% 6% 4%;
    }

    .share-text {
      font-size: 3.4vw;
      letter-spacing: 2.5px;
    }

    .button-share a {
      font-size: 3.5vw;
      line-height: 50px;
    }
  }

}


// 11 pro 11 pro max  x
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) { 
  .isMobile .resule{
    top: 50%;
    transform: translateY(-50%);
  }

}
// 11 
@media only screen 
and (device-width : 414px) 
and (device-height : 896px) 
and (-webkit-device-pixel-ratio : 2) { 
  .isMobile .resule{
    top: 50%;
    transform: translateY(-50%);
  }
}
/* 8+ 7+ 6+ */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .isMobile .resule{
      top: 53%;
    }
  
    .isMobile #section-resule .resule-1 .brand {
      padding: 3% 0% 4% 4%;
    }
  .isMobile #section-resule .resule-1 .slogan-img {
    margin-bottom: 5%;
  }
  .isMobile #section-resule .resule-1 .left-content li{
    margin-bottom: 1%;
  }
  .isMobile #section-resule .resule-1 .brand{
    margin-top: 4%;
  }
  .isMobile #section-resule .resule-2 .brand {
    padding: 3% 0% 5% 4%;
  }
}
/* 8 7 6 */
@media only screen 
  and (device-width : 375px) 
  and (device-height : 667px) 
  and (-webkit-device-pixel-ratio : 2) {
  .isMobile #section-resule .resule-1 .brand {
      padding: 3% 0% 4% 4%;
  }
  .isMobile #section-resule .resule-1 .slogan-img {
    margin-bottom: 5%;
  }
  .isMobile #section-resule .resule-1 .left-content li{
    margin-bottom: 1%;
  }
  .isMobile #section-resule .resule-1 .brand{
    margin-top: 0;
  }
  .isMobile #section-resule .resule-2 .brand {
    padding: 3% 0% 5% 4%;
  }
  .isMobile #section-resule .resule-3 .brand {
    padding: 3% 0% 3% 4%;
  }
  .isMobile #section-resule .resule-4 .brand {
    padding: 3% 0% 3% 4%;
    margin-bottom: 3%;
  }

}



@include screen(360px) {
  .isMobile .resule{
    top: 50%;
    transform: translateY(-50%);
  }
  #section-resule .resule-4 .right-content .edn-p1{
    top: 6%;
  }

    #section-resule .resule-1 .right-content{
      top: 4vh;
    }

}