#section-rule{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 640px;
  height: 100%;
  z-index: 9;
  background:none;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  overflow-y: auto;
  padding-bottom: 5%;
  .container{
    padding-top: 23%;
    width: 91%;
    margin: auto;
  }
  .title{
    margin: auto;
    display: block;
    max-width: 212px;
    width: 43%;
    margin-bottom: 5%;
  }
  .rule-list{
    list-style: none;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0;
    color: #2c2c2c;
    li{
      margin-bottom: 1.8%;
    }
    h4{
      color: $red;
      margin-bottom: 1px;
      &:before{
        content:'';
        width: 9px;
        height: 8px;
        border-radius: 99em;
        background: #d72f83;
        display: inline-block;
        vertical-align: middle;
        margin-right: 2%;
        
      }
    }
    p{
      padding-left: 3.2%;
    }
    .rule-item2{
      margin-bottom: 5%;
    }
    .rule-item3{
      margin-bottom: 3%;
      h4{
        margin-bottom: 5px;
      }
      img{
        width: 98%;
        max-width: 585px;
      }
    }
  }

  @include screen(640px) {
    .rule-list{
      font-size: 3.6vw;
    }
    .ru-header{
      padding: 3%;
    }
  }
}


  .ru-header{
    padding: 8.945%;
    width: 100%;
    max-width: 640px;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 11;
    background: #fff;
  }