.resule.resule-3
  .container 
    .content
      .left-content
        .slogan
          | 文藝的、下町的，
          br
          | 怎麼逛都逛不膩。
        img.slogan-img(src="img/result/end-3.jpg")
        ul
          li #[span 喜愛復古懷舊老物，但對古著就#[br]沒那麼愛] 
          li  #[span 逛展聽現場演出已成生活習慣，#[br]逛街則用來累積靈感] 
          li  #[span 基本上不穿有跟的鞋子] 
          li  #[span 比起新潮摩登的咖啡廳，更愛老#[br]屋新建的懷舊小店] 
      .right-content
        img.edn-p1(src="img/result/ppl3.png")
        img.edn-p2(src="img/result/plant3.png")
    .brand
      h3 推薦品牌：
      ul
        li
          img(src="img/result/brand-3.jpg")
          .brand-text
            h4 BEAMS
            p 輕鬆、隨性的日系休閒，帶您享受時尚樂趣。 
    .share-text [分享妳的測驗結果，就有機會領取atré限量贈禮]






 



