.resule.resule-1
  .container 
    .content
      .left-content
        .slogan
          | 大人系女子時尚、
          br
          | 美食的好去處。
        img.slogan-img(src="img/result/end-2.jpg")
        ul
          li #[span 擅於將最新流行內化為自己風格] 
          li #[span 愛看韓劇，但偶像還是日系團體] 
          li #[span 記得每個紀念日，也會勤於打扮自己] 
          li #[span 願意配合男朋友的喜好改變穿著] 
      .right-content
        img.edn-p1(src="img/result/ppl2.png")
        .edn-box
          .edn-p2
            img.clothes(src="img/result/clothes.png")

            img(src="img/result/plant2.png")
    .brand
      h3 推薦品牌：
      ul
        li
          img(src="img/result/brand-2-1.jpg")
          .brand-text
            h4 UNITED ARROWS
            p 以高質感、最新流行來豐富對於高時尚敏銳度成熟女性的生活。
        li
          img(src="img/result/brand-2-2.jpg")
          .brand-text
            h4 GREEN LABEL RELAXING
            p 契合不同生活型態，在實用與流行之間展現風格。
    .share-text [分享妳的測驗結果，就有機會領取atre限量贈禮]






 



