.resule.resule-1
  .container 
    .content
      .left-content
        .slogan
          | 充滿活力，
          br
          | 自在散策的地方。
        img.slogan-img(src="img/result/end-1.jpg")
        ul
          li #[span 以不過合身的大地色系服飾為主] 
          li  #[span 具品牌忠誠度，喜歡低調展現服#[br]飾與自我質感] 
          li  #[span 與其崇拜偶像，更愛搞笑藝人] 
          li  #[span 與其跟流行，自己喜歡更重要] 
      .right-content
        img.edn-p1(src="img/result/ppl1.png")
        img.edn-p2(src="img/result/plant1.png")
    .brand
      h3 推薦品牌：
      ul
        li
          img(src="img/result/brand-1.jpg")
          .brand-text
            h4 BEAMS
            p 日本人氣品牌，選品視角獨特，風格多樣並持續創新。 
    .share-text [分享妳的測驗結果，就有機會領取atré限量贈禮]






 



