.resule.resule-4
  .container 
    .content
      .left-content
        .slogan
          | 文藝的、下町的，
          br
          | 怎麼逛都逛不膩。
        img.slogan-img(src="img/result/end-4.jpg")
        ul
          li #[span 人脈廣、朋友多，工作時全力以赴] 
          li #[span 假日時的幸福是享受一個人的咖啡]
          li #[span 即使年輕偶像不斷出道，依然最愛#[br]阿部寬] 
          li #[span 看懂財務報表沒問題，卻對漫畫閱#[br]讀方向沒轍] 
      .right-content
        img.edn-p1(src="img/result/ppl4.png")
        img.edn-p2(src="img/result/plant4.png")
    .brand
      h3 推薦品牌：
      ul
        li
          img(src="img/result/brand-4.jpg")
          .brand-text
            h4 BEAMS
            p 日本品質時尚眼鏡，提供上千種款式，任您挑選。
    .share-text [分享妳的測驗結果，就有機會領取atré限量贈禮]