div#section-index
  img.title(src="img/index/title.png")
  .container 
    .input-box
      .input-container 
        h4 分享妳的atré東京女子圖鑑 即可獲得質感來店禮！
        .input-content
          input(type="text" placeholder="輸入名稱開始測驗") 
          a(href="javascript:;") >
    .slider-box
      include ../slider/silder-1.pug
      include ../slider/silder-2.pug
      include ../slider/silder-3.pug
      include ../slider/silder-4.pug