div#section-intor
  .bg-1
    span
    span
    span
    span
    span
  .header
    .in-logobox 
      img.in-logo(src="img/header/logo.svg")
  .container 
    img.in-im(src="img/intor/title.png")
    .in-step
      span #[b step1.]完成東京女子風格測驗
      span #[b step2.]將你的測驗結果分享至臉書並截圖
      span #[b step3.]憑截圖至微風南山艾妥列兌換來店禮
    .gift-time
      h3 兌換來店禮及指定期間：
      img(src="img/intor/gift-photo.png")
    .btn.btn-in(@click="goStep") 我知道了 >





