div#section-news
  .container
    img.title(src="img/news/title.png")
    img.news-img(src="img/news/news_ing.jpg")
    .add
     | *台北市信義區松智路17號 *週日至週三 11:00 - 21:30 
     br
     |*週四至週六 (含例假日前夕) 11:00 - 22:00 #[br]*部分專櫃時間調整
    ul.news-list
      li(v-for="(items,index) in newsList" :class="'style-' + (index)")
        img(:src="items.img")
        .news-text
          h4 {{items.name}}
          p(v-html="items.content")
        a.btn-more(:href="items.link" target="_blank") 了解更多
    .news-about
      h3 初次見面，我們是 atre!
      p 
        | 在時尚和流行最前線的東京，擁有多家分店，現已於台灣正式登場！
        br
        | 與眾不同的atre 風格，貼近您的日常生活，為生活增添更多閃耀光芒。
        br
        | 無論是表達心意的貼心小禮，還是給自己努力一天的犒賞，
        br
        | 不妨來atre讓我們為您實現更豐富有趣的精彩生活吧！
    ul.add-list
      li
        img.add-img(src="img/news/news-img-1.jpg")
        .add-list-text
          h4 atre 恵比寿
          p 以美食著稱也常上榜宜居城市，許多時尚名人都居此。#[br]atre惠比壽提供大人系女子時尚享受，美食咖啡無上饗宴。
          p.ne-add 地址：東京都渋谷区恵比寿南1-5-5
      li
        img.add-img(src="img/news/news-img-2.jpg")
        .add-list-text
          h4 atre 吉祥寺
          p 周邊有公園、動物園和咖啡廳等的吉祥寺，是充滿活力與美食的城鎮。#[br]走在吉祥寺車站的atre裡，環繞於各式美食與雜貨，#[br]就像散步街道般舒適自在。
          p.ne-add 地址：東京都武蔵野市吉祥寺南町1-1-24

      li
        img.add-img(src="img/news/news-img-3.jpg")
        .add-list-text
          h4 atre 品川
          p 品川是日本首屈一指的商業區，職業女性自信跨步街區。#[br]atre品川如世界中心紐約般，#[br]匯集世界頂級餐廳，提供您菁英般別具一格的饗宴。
          p.ne-add 地址：東京都港区港南2-18-1
      li
        img.add-img(src="img/news/news-img-4.jpg")
        .add-list-text
          h4 atre 上野
          p 來上野，可以安排博物館感受文藝氣氛，接著到阿美橫丁挑選南北貨，#[br]最後來atre上野喝杯咖啡或來碗人氣拉麵！#[br]逛逛上野，絕不能錯過atre上野。
          p.ne-add 地址：東京都台東区上野7-1-1
    .btn-news
      a.btn(href="https://atre.com.tw/floorguide" target="_blank") 更多品牌介紹 >
      a.btn(href="https://atre.com.tw/about.html" target="_blank") 關於atre >