div#section-resule
  include resule/resule-1.pug
  include resule/resule-2.pug
  include resule/resule-3.pug
  include resule/resule-4.pug
  .button-share
    a.share-1(href="javascript:;") 再測一次 >
    a.share-2(href="javascript:;") 立即分享 >
    a.share-3(href="javascript:;") 看最新優惠 >

