div#section-rule

  .container
    img.title(src="img/rule/title.png")
    ul.rule-list
      li 
        h4 活動日期:
        p 2020/7/10(五)-8/9(日)
      li.rule-item2
        h4 活動辦法：
        p 活動期間內，完成「東京女子，風格發現」測驗，並將「你的風格」畫面分享至臉書並截圖，即可憑截圖至微風南山艾妥列兌換來店禮。每一個facebook帳號分享限兌換乙次來店禮(擇一)。
      li.rule-item3
        h4 來店禮以及兌換日期：
        img(src="img/intor/gift-photo.png")
      li
        h4 注意事項：
        p 1.本活動來店禮以測驗結束後的facebook分享截圖或畫面為憑證。
        p 2.贈品每日提供數量有限，數量以現場店家公告為主。
        p 3.每一個帳號分享僅限一次兌換，並且來店禮兌換權利不得贈予他人。
        p 4.贈品以實物為準，如因不可抗拒之事由導致獎品內容變更，中獎人同意接受主辦單位安排之替代獎品，不得要求折現或轉換其他商品，亦不得要求將獎項讓與他人。
        p 5.參加者於參加本活動同時，即視為同意接受本活動規範，主辦單位有權決定取消、終止、修改或暫停本活動。
