section#section-topic.topic6
  .container
    .qa-content
      b Q6
      p 剛好路過最近超紅的美食，要不要排隊品嚐看看呀？
    img.topic-item-1(src="img/topic/6/food.png")
    img.topic-item-2(src="img/topic/6/table.png")
    img.item-light-1(src="img/topic/1/light.png")
    img.item-light-2(src="img/topic/1/light.png")
    img.item-light-3(src="img/topic/1/light.png")
    img.item-light-4(src="img/topic/1/light.png")
    img.item-light-5(src="img/topic/1/light.png")
    .topic-radio
      input#issue6-1(type='radio', value='0', v-model='test6' )
      label(for='issue6-1') 舒芙蕾鬆餅! >
      input#issue6-2(type='radio', value='0', v-model='test6')
      label(for='issue6-2') 草莓蛋糕 >
      input#issue6-3(type='radio', value='0', v-model='test6')
      label(for='issue6-3') 手工餅乾! >
      input#issue6-4(type='radio', value='0', v-model='test6')
      label(for='issue6-4') 珍珠冰淇淋 >



  

  