section#section-topic.topic5
  .container
    .qa-content
      b Q5
      p 剛好路過最近超紅的美食，要不要排隊品嚐看看呀？
    img.topic-item-1(src="img/topic/5/light.gif")
    .topic-radio
      input#issue5-1(type='radio', value='2', v-model='test5')
      label(for='issue5-1') 為了美食我排! >
      input#issue5-2(type='radio', value='1', v-model='test5')
      label(for='issue5-2') 不想排隊 >