section#section-topic.topic3
  .container
    .qa-content
      b Q3
      p 男友對逛街提不起勁，這時和他在百貨約會的妳會怎麼做？
    .topic-box    
      .topic-bg1
      .topic-bg2
      .topic-item-1
        .item-box
          .smoke
            img(src="img/topic/3/smoke.png")
          .smoke
            img(src="img/topic/3/smoke.png")
          .smoke
            img(src="img/topic/3/smoke.png")

          img.topic-img-1(src="img/topic/3/pic01.png")
      .topic-item-2
        .item-box
          img(src="img/topic/3/ppl.png")
        img.topic-img-1(src="img/topic/3/pic02.png")
    .topic-radio
      input#issue3-1(type='radio', value='0', v-model='test3')
      label(for='issue3-1') 讓他去喝杯咖啡邊等 >
      input#issue3-2(type='radio', value='0', v-model='test3')
      label(for='issue3-2') 不行！一定要一起逛 >
      input#issue3-3(type='radio', value='0', v-model='test3')
      label(for='issue3-3') 分開逛等等再會合 >