section#section-topic.topic4
  .container
    .qa-content
      b Q4
      p 這個夏天妳最想添購哪樣單品？
      .bab-box
        .bab-content
          img.topic-item-1(src="img/topic/4/sbline.png")
          img.topic-item-2(src="img/topic/4/sbicon.png")
    img.topic-bg1(src="img/topic/4/block01.png")
    img.topic-bg2(src="img/topic/4/block02.png")

    img.topic-item-3(src="img/topic/4/ppl.png")
    img.topic-item-4(src="img/topic/4/donuts.png")

      
    .topic-radio
      input#issue4-1(type='radio', value='4', v-model='test4')
      label(for='issue4-1') 印花長洋裝 >
      input#issue4-2(type='radio', value='3', v-model='test4')
      label(for='issue4-2') 度假風竹編手提包 >
      input#issue4-3(type='radio', value='2', v-model='test4')
      label(for='issue4-3') 印花長洋裝 >
      input#issue4-4(type='radio', value='1', v-model='test4')
      label(for='issue4-4') 一定要買比基尼 >