section#section-topic.topic2
  .container
    .qa-content
      b Q2
      p 今天想約誰一起逛街呢？
    .topic-box   
      .topic-bg1
      .topic-bg2
      .topic-item-1-box
        .topic-item-1-content
          img.topic-item-2(src="img/topic/2/hand.png")

          img.topic-item-3(src="img/topic/2/phone.png")
        img.topic-item-1(src="img/topic/2/ppl.png")

    .topic-radio
      input#issue2-1(type='radio', value='3', v-model='test2')
      label(for='issue2-1') 當然是另一半 >
      input#issue2-2(type='radio', value='2', v-model='test2')
      label(for='issue2-2') 最愛和閨密掃貨 >
      input#issue2-3(type='radio', value='1', v-model='test2')
      label(for='issue2-3') 自己逛最輕鬆 >
    


  