section#section-topic.topic1
  .container
    .qa-content
      b Q1
      p Hi,#[span {{userName}} ]您好～#[br]週末決定到百貨公司悠閒逛逛～#[br]妳的裝扮重點會放在...？
    .topic-bg1
    .topic-bg2
    img.topic-item-1(src="img/topic/1/smell.png")
    img.topic-item-2(src="img/topic/1/bag.png")
    img.topic-item-3(src="img/topic/1/earing.png")
    img.topic-item-4(src="img/topic/1/shoes.png")
    img.topic-item-5(src="img/topic/1/lipstick.png")
    img.item-light-1(src="img/topic/1/light.png")
    img.item-light-2(src="img/topic/1/light.png")
    .topic-radio
      input#issue1-1(type='radio', value='4', v-model='test1')
      label(for='issue1-1') 黃色笑臉包 >
      input#issue1-2(type='radio', value='3', v-model='test1')
      label(for='issue1-2') 金色細跟鞋 >
      input#issue1-3(type='radio', value='2', v-model='test1')
      label(for='issue1-3') 珍珠垂掛耳環 >
      input#issue1-4(type='radio', value='1', v-model='test1')
      label(for='issue1-4') 亮桃紅雙唇 >
    


  