header
  .logobox 
    img.logo(src="img/header/logo.svg")
    img.title(src="img/header/title_text.png")
  .menu-wrapper
    .hamburger-menu
  .nav-box
    nav
      ul
        li
          a(href="javascript:;") 
            
        li
          a(href="javascript:;") 
            
        li
          a(href="javascript:;") 
           
        li
          a(href="javascript:;") 
            
