// 5
.topic5{
  position: relative;
  background: url(../img/guide/05.jpg) center top no-repeat !important;
  background-size: contain !important;
  width: 100%;
  margin: auto;
  .topic-item-1{
    width: 100%;
    bottom: 0;
  }

  @media only screen and (min-device-width : 375px) and (min-device-height : 812px) {
    .qa-content {
      top: 4%;
    }
  }
}



