// 文字顏色
$black: #000;
$white: #ffffff;
$red: #d72f83;
$red_text: #765a3c;
$bg_color:#f4f1ea;

// 字型定義
$font_content: Arial, sans-serif, 微軟正黑體;
$notofont: -apple-system,'微軟正黑體', Arial, Verdana, sans-serif;

