- var d = Date.now()
doctype html
html(lang="zh-tw")
  head
    include ../components/head.pug
  body
    // Google Tag Manager (noscript)
    //- noscript
      //- iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-KB938SL', height='0', width='0', style='display:none;visibility:hidden')
    // End Google Tag Manager (noscript)
    #wrapper
      include ../components/header.pug
      //- indexinde
      
      include ../section/index.pug
      //- 心理測驗1
      include ../section/topic1.pug
      //- 心理測驗2
      include ../section/topic2.pug
      //- 心理測驗3
      include ../section/topic3.pug
      //- 心理測驗4
      include ../section/topic4.pug
      //- 心理測驗5
      include ../section/topic5.pug
      //- 心理測驗6
      include ../section/topic6.pug
      //-結果頁
      include ../section/resule.pug
      //-活動辦法
      include ../section/rule.pug
      //-最新優惠
      include ../section/news.pug
      //- intro
      include ../section/intor.pug
  script(src='js/vendors.js')
  script(src="https://unpkg.com/axios/dist/axios.min.js")
  script(src='js/index.js?v=' + d)