#app{
  position: relative;
  width: 100%;
  height: 100%;
}
.nav-box {
  display: none;
  position: fixed;
  right: initial;
  left: 0;
  top: 0px;
  background: rgba(255, 255, 255, 0.93);
  max-width: 100%;
  width: 100%;
  height: 100%;
  padding-top: 14%;
  @include screen(640px) {
    padding-top: 33%;
  }
  ul {
    display: block;
  }
  li {
    list-style: none;
    text-align: center;
    position: relative;
    width: 52%;
    max-width: 338px;
    margin: 0 auto 4vh auto;
    img{
      width: 100%;
      display: block;
    }
    &.active a{
      background: rgba(#d72f83,0.17);
    }
  }
  a {
    transition: .4s;
    text-decoration: none;
    display: block;
    &:hover{
      
    }
  }
  .link{
    display: flex;
    justify-content: center;
    img{
      width: 100%;
    }
    a{
      width: 12%;
      max-width: 75px;
    }
    a:nth-child(1) {
      margin-right: 4%;
    }
  }
}



/*----------------------nav icon------------------------*/
$bar-width: 50px;
$bar-height: 2px;
$bar-spacing: 14px;

.menu-wrapper {
  background: $red;
  position: absolute;
  top: -8%;
  right: 2.6%;
  bottom: 0;
  margin: auto;
  width: 65px;
  height: 65px;
  cursor: pointer;
  z-index: 10;
  padding: 17px 0 0 8px;
}

.hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before {
  width: $bar-width;
  height: $bar-height;
  @include border();
}
.hamburger-menu {
  position: relative;
  transform: translateY($bar-spacing);
  background: $white;
  transition: all 0ms 300ms;
  @include border(99px);

  &.animate {
    background: rgba(255, 255, 255, 0);
  }
}

.hamburger-menu:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: $bar-spacing;
  background: $white;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  @include border(99px);
}

.hamburger-menu:after {
  width: 30px;
  content: "";
  position: absolute;
  right: 0;
  top: $bar-spacing;
  background: $white;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  @include border(99px);
}

.hamburger-menu.animate:after {
  width: 50px;
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  ;
  @include border(99px);
}

.hamburger-menu.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  ;
  @include border(99px);
}

//------------------------- Menu icon -------------------------//
.menu-icon {
  display: none;
  top: 45%;
  right: -0.7em;
  z-index: 100;
  width: 45px;
  height: 39px;
  margin-top: 0;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  position: absolute;

  @media (max-width: 980px) {
    display: block;
  }
}

//------------------------- Mobie Menu icon -------------------------//
.menu-icon-block {
  display: none;
  position: relative;
  height: 100%;
  margin: auto;

  i {
    position: absolute;
    display: block;
    margin: auto;
    width: 72%;
    height: 2px;
    background-color: $white;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;

    &.i1 {
      top: 0%;
    }

    &.i2 {
      top: 25%;
    }

    &.i3 {
      top: 51%;
    }
  }
}


@include screen(640px) {
  .hamburger-menu.animate:after{
    width: 27px;
  }
  .menu-wrapper{
    width: 40px;
    height: 40px;
    padding: 5px 0 0 6px;
  }
  .hamburger-menu{
    width: 27px;
    &:after,&:before{
      width: 27px;
    }
    &:after{
      top: 9px;
      width: 19px;
    }
    &:before{
      bottom: 9px;
    }
  }
}