.slider.slider-1
  img.title(src="img/index/title.png")
  .bg
    span
    span
    span
    span
    span
    span
  .slider-img
    img.slogan(src="img/index/slogan-1.png")
    img.person(src="img/index/banner-1.png")